<!DOCTYPE HTML>
<html lang="EN">
<head>
    <title>VM Info</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

< role="document">
<!--nagavition -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/vminfo">VM Manage System</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">VMInfo</a></li>
            </ul>
            <!--
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">{{user}}</a></li>
                        <li><a href="/logout/">Logout</a></li>
             l¬lll       </ul>
            -->
        </div>
    </div>
</nav>

<!--VM Search List-->
<div class="page-header" style="padding-top: 10px;">
    <div class="navbar-collapse collapse" id="navbar">
        <form action="/vminfo" class="navbar-form" method="get">
            <select class="form-control" name="vcname">
                <option value="">VCName</option>
                {% if search_vc != '' %}
                <option selected value="{{ search_vc }}">{{ search_vc }}</option>
                {% endif %}
                {% for vc in vclist %}
                <option value="{{ vc.vcname }}">{{ vc.vcname }}</option>
                {% endfor %}

            </select>
            <div class="form-group">
                {% if search_name != '' %}
                <input class="form-control" name="vmname" placeholder="VM Name" type="text" value="{{ search_name }}">
                {% else %}
                <input class="form-control" name="vmname" placeholder="VM Name" type="text">
                {% endif %}
                {% if search_ip != '' %}
                <input class="form-control" name="vmip" placeholder="VM IP" type="text" value="{{ search_ip }}">
                {% else %}
                <input class="form-control" name="vmip" placeholder="VM IP" type="text">
                {% endif %}
            </div>
            <button class="btn btn-success" type="submit">Search</button>
        </form>
        <!-- <p> {{search_vc}},{{ search_name }},{{ search_ip }} </p>-->
    </div>
</div>

<!--VM List-->
<div class="row" style="padding-top: 10px;">
    <div class="col-sm-12">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>VC Name</th>
                <th>DC Name</th>
                <th>Cluster</th>
                <th>Host IP</th>
                <th>VM Name</th>
                <th>VM IP</th>
                <th>VM MACC</th>
                <th>Status</th>
                <!--<th>VMPath</th>-->
            </tr>
            </thead>
            <tbody>
            {% for vm in vmlist %}
            <tr>
                <td colspan="1" rowspan="1">{{ vm.vcname }}</td>
                <td colspan="1" rowspan="1">{{ vm.dcname }}</td>
                <td colspan="1" rowspan="1">{{ vm.cluster }}</td>
                <td colspan="1" rowspan="1">{{ vm.hostip }}</td>
                <td colspan="1" rowspan="1">{{ vm.vmname }}</td>
                <td colspan="1" rowspan="1">{{ vm.vmip }}</td>
                <td colspan="1" rowspan="1">{{ vm.vmmacc }}</td>
                <td colspan="1" rowspan="1">
                    {% if vm.status == "poweredOn" %}
                    <button class="btn btn-success" type="submit">ON</button>
                    {% endif %}
                    {% if vm.status == "poweredOff" %}
                    <button class="btn btn-danger" type="submit">Off</button>
                    {% endif %}
                </td>
                <!--<td rowspan="1" colspan="1">{{ vm.vmpath }}</td>-->
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>


<!--PagInator-->
<div class="pagination">
    <span class="step-links">
        {% if vmlist.has_previous %}
        <a href="?page={{ vmlist.previous_page_number }}">previous</a>
        {% endif %}
          <span class="current">
              Total: {{ count }}, Page {{ vmlist.number }} of {{ vmlist.paginator.num_pages }}.
          </span>
        {% if vmlist.has_next %}
        <a href="?page={{ vmlist.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
</body>
</html>

